*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
header{
    display: flex;
}
.side{
    height: 100vh;
    width: 72px;
    padding-top: 18px;
    display: flex;
    position: fixed;
    justify-content: space-around;
}
.side-widgets{
    border-right: 0.5px solid rgb(229, 228, 228);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: white;
}
.top-icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 300px;
    width: 48PX;
    gap: 23px;    
}
.home-icon{
    height: 48px;
    width: 48px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi i{
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: black;
}
.side-main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
.top1{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.top1:hover{
    height: 48px;
    width: 48px;
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}
.top2:hover{
    height: 48px;
    width: 48px;
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}
.hi:hover{
    height: 48px;
    width: 48px;
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top1 i{
    color: RED;
    height: 20PX;
    width: 20PX;
    font-size: 22PX;
}
.top2{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.top2 i{
    color: black;
    height: 20PX;
    width: 20PX;
    font-size: 20PX;
}
.side-main i{
    font-size: 23px;
}
.main-content{
    box-shadow: 2px;
    height: 80px;
    width: 93vw;
    margin-left: 72px;
    margin-right: 10px;
    position:fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    
}
.search{
    height: 47px;
    width: 1050px;
    margin-left: 15px;
    display: flex;
    border: none;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 239);
    height: 100%;
    width: 40px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: rgb(113, 113, 113);
    font-weight: 800;
}
.search-icon:hover{
    background-color: rgb(217, 217, 217);
}
i{
    height: 16px;
    width: 16px;
    color: rgb(113, 113, 113);

}
.search-input{
    height: 100%;
    /* width: 97%; */
    width: calc(100% - 40px);
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}
.search-input:hover{
    background-color: rgb(217, 217, 217);
}
input::placeholder{
    text-align: start;
    font-size: 16px;
    color: rgb(113, 113, 113);
    border: none;
}
.accounts {
    height: 32px;
    width: 32px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounts i{
    height: 32px;
    width: 32px;
    background-color:rgb(240, 239, 239) ;
    border-radius:50% ;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounts:hover{
    height: 48px;
    width: 48px;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);

}
.select{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}
.select-icon{
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
}
.select:hover{
    background-color: rgb(217, 217, 217);
}
 main{
    display: flex;
    justify-content: center;
    padding: 10px;
 }
 .flex-container{
    display: block;
    column-count: 4;
    column-gap: 23px;
    width: 100%;
    margin-left: 72px;
    margin-top: 80px;
    padding-left: 20px;
 }
 .flex-item {
    break-inside: avoid;
    margin-bottom: 16px;
 }
 .flex-item img {
    width: 100%;
    display: block;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}
/* Responsive Design */
@media (max-width: 1200px) {
    .flex-container {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .flex-container {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .flex-container {
        column-count: 2;
        margin-left:0;
        margin-top: 0;
    }
    .flex-item{
        width: 100%;
    }
    .side-widgets{
        visibility: hidden;
    }
    header{
        visibility: hidden;
    }
}
